.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-name {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}


.mat-column-description {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
.mat-column-policyType {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
.mat-column-riskType {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
.mat-column-policyDateBegin {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
.mat-column-policyMonthsPeriod {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
.mat-column-policyCost {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
.mat-column-options {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
