

<mat-toolbar color="primary" class="toolbar-session-info" [class.toolbar-session-info-is-mobile]="mobileQuery.matches" *ngIf="currentUser">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Administrador de polizas</h1>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list *ngIf="currentUser">
      <mat-list-item routerLink="/"> Polizas </mat-list-item>
      <mat-list-item routerLink="/policyClient"> Asignar poliza a cliente </mat-list-item>
      <mat-list-item (click)="logout()" color="warn">Cerrar sesión</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>

    <div class="container"
         fxLayout="column"
         fxLayoutAlign="space-around center"
         fxLayoutGap="1%"
         fxFlexFill>


      <mat-card>
        <app-header></app-header>
        <alert></alert>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <app-footer></app-footer>
    </div>
    </mat-sidenav-content>

</mat-sidenav-container>


