

<mat-card>
  
  <mat-card-content>
    <mat-drawer-container>
      <mat-drawer mode="side" opened >

        <mat-nav-list *ngIf="currentUser">
          <mat-list-item routerLink="/"> Polizas </mat-list-item>
          <mat-list-item> Asignar poliza a cliente </mat-list-item>
          <mat-list-item><button (click)="logout()" color="warn" mat-raised-button>Cerrar sesión</button></mat-list-item>
        </mat-nav-list>


      </mat-drawer>
      <mat-drawer-content >

        <alert></alert>
        <router-outlet></router-outlet>
        <mat-divider></mat-divider>
        <footer>
          <a href="https://www.linkedin.com/in/josecoder/" target="_top">Jose Pablo Madrigal. Software developer</a>
        </footer>
      </mat-drawer-content>

    </mat-drawer-container>
    
  </mat-card-content>
</mat-card>


