<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input matInput type="text" placeholder="Full Name" formControlName="fullName" [ngClass]="{ 'is-invalid': f.fullName.errors }" />
      <mat-error *ngIf="f.fullName.errors">
        <mat-error *ngIf="f.fullName.errors.required">Full Name is required</mat-error>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Username" type="text" formControlName="username" [ngClass]="{ 'is-invalid': f.username.errors }" />
      <mat-error *ngIf="f.username.errors">
        <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors }" />
      <mat-error *ngIf="f.password.errors">
        <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
        <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters</mat-error>
      </mat-error>
    </mat-form-field>
  </p>
  <button [disabled]="loading" mat-raised-button>Register</button>
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  <button [routerLink]="['/login']" mat-button>Cancel</button>
</form>
